.home {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  height: 96.8vh;
  background: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?q=80&w=3732&auto=format&f[…]3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  justify-content: center;
  display: flex;
  padding-bottom: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: 200px;
}


.home {
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 20px; 
} 

 .content h1,
.content p {
  margin: 0;
  padding-right: 200px;
} 



