h1 {
    justify-content: center;
    display: flex;
  }
  .about-container {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1514163061636-02db31852e84?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTl8fGN1bHR1cmFsJTIwZm9vZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDI%3D");
  }
  
  .about-text {
    margin-bottom: 20px;
  }