.circular-input {
    border-radius: 20px; /* Adjust as needed */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc; /* Add border for better visibility */
  }
  
  .circular-input:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 5px #719ece; /* Add a subtle shadow when focused */
  }
  .form-container1 {
    background-image: url("https://images.unsplash.com/photo-1543353071-10c8ba85a904?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 0px rgb(255 0 0 / 50%);
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
    margin: auto;
    margin-top: 200px;
  }